.square {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}


#main {
    width: 960px;
    height: 960px;
    background-color: blue;
}


.square:hover {
    background-color: black;
}